<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add Agent</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" href="/addAgent/assets/css/opensans-font.css">
	<link rel="stylesheet" href="/addAgent/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- Main Style Css -->
    	<link rel="stylesheet" href="/addAgent/assets/css/style.css"/>
</head>
<body>
	<div class="page-content">
		<div class="form-v1-content">
			<div class="wizard-form">
		        <form class="form-register" id="addAgentForm" action="/addAgent" method="post">
		        	<div id="form-total">
		        		<!-- SECTION 1 -->
			            <h2>
			            	<p class="step-icon"><span>01</span></p>
			            	<span class="step-text">Peronal Infomation</span>
			            </h2>
			            <section>
			                <div class="inner">
			                	<div class="wizard-header">
									<h3 class="heading">Peronal Infomation</h3>
									<p>Please enter your infomation and proceed to the next step so we can build your accounts.  </p>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<fieldset>
											<legend>First Name</legend>
											<input type="text" class="form-control" id="first-name" name="agent[firstName]" placeholder="First Name" required>
										</fieldset>
									</div>
									
									<div class="form-holder">
										<fieldset>
											<legend>Last Name</legend>
											<input type="text" class="form-control" id="last-name" name="agent[lastName]" placeholder="Last Name" required>
										</fieldset>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<fieldset>
											<legend>Your Email</legend>
											<input type="text" name="agent[email]" id="your_email" class="form-control" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="example@email.com" required>
										</fieldset>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<fieldset>
											<legend>Phone Number</legend>
											<input type="text" class="form-control" id="phone" name="agent[phone]" placeholder="+91 888-999-7777" required>
										</fieldset>
									</div>
								</div>
								<div class="form-row form-row-date">
									<div class="form-holder form-holder-2">
										<label class="special-label">Birth Date:</label>
										<input style = "width: 200px; border: 1px solid #dae0e0; text-align: center" type = "date" name = "agent[dob]" class = "form-control" />
									</div>
								</div>

								<div class="form-row">
									<div class="form-holder">
										<fieldset>
											<legend>Salary</legend>
											<input type="text" class="form-control" id="city" name="agent[salary]" placeholder="Salary" required>
										</fieldset>
									</div>
									
									<div class="form-holder">
										<fieldset>
											<legend>Commission</legend>
											<input type="text" class="form-control" id="state" name="agent[commission]" placeholder="in %" required>
										</fieldset>
									</div>
								</div>
							</div>
			            </section>
						<!-- SECTION 2 -->
			            <h2>
			            	<p class="step-icon"><span>02</span></p>
			            	<span class="step-text">Residential Address</span>
			            </h2>
			            <section>
			                <div class="inner">
			                	<div class="wizard-header">
									<h3 class="heading">Provide Residential Address</h3>
									<p>Please enter residential address, so that we can know you better. Also, you may receive mails from us at this address.</p>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<fieldset>
											<legend>Street Number</legend>
											<input type="number" class="form-control" id="street-number" name="agent[streetNumber]" placeholder="Street Number" required>
										</fieldset>
									</div>
									
									<div class="form-holder">
										<fieldset>
											<legend>Street Name</legend>
											<input type="text" class="form-control" id="street-name" name="agent[streetName]" placeholder="Street Name" required>
										</fieldset>
									</div>
								</div>	
								
								<div class="form-row">
									<div class="form-holder">
										<fieldset>
											<legend>City</legend>
											<input type="text" class="form-control" id="city" name="agent[city]" placeholder="City" required>
										</fieldset>
									</div>
									
									<div class="form-holder">
										<fieldset>
											<legend>State</legend>
											<input type="text" class="form-control" id="state" name="agent[state]" placeholder="State" required>
										</fieldset>
									</div>
								</div>
								
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<input type="number" class="form-control input-border" id="ssn" name="agent[zip]" placeholder="Zip Code" required>
									</div>
								</div>
							</div>
			            </section>
			            <!-- SECTION 3 -->
			            <h2>
			            	<p class="step-icon"><span>03</span></p>
			            	<span class="step-text">Account Details</span>
			            </h2>
			            <section>
			                <div class="inner">
			                	<div class="wizard-header">
									<h3 class="heading">Set Account Details</h3>
									<p>Please enter your infomation and proceed to the next step so we can build your accounts.</p>
								</div>

								<div class="form-row">
									<div class="form-holder">
										<fieldset>
											<legend>Account Number</legend>
											<input type="number" class="form-control" id="street-number" name="[accountNumber]" placeholder="Account Number" required>
										</fieldset>
									</div>
									
									<div class="form-holder">
										<fieldset>
											<legend>Aadhaar Number</legend>
											<input type="text" class="form-control" id="street-name" name="agent[aadhaarNumber]" placeholder="Aadhaar Number" required>
										</fieldset>
									</div>
								</div>	

							<div class="form-row">
									<div class="form-holder form-holder-2">
										<fieldset>
											<legend>Profile Image URL</legend>
											<input type="text" class="form-control" id="phone" name="agent[url]" placeholder="https://www.profileimage.com" required>
										</fieldset>
									</div>
								</div>
								
							</div>
			            </section>
		        	</div>
		        </form>
			</div>
		</div>
	</div>
	Code Integration

	<script
		src="https://code.jquery.com/jquery-3.5.0.min.js"
		integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
		crossorigin="anonymous">
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.js" integrity="sha256-VyFbbsL+4WS8IrWijL0olTxDKbsCymITRf7zwexscMc=" crossorigin="anonymous"></script>

	<script src="/addAgent/assets/js/main.js"></script>
</body>
</html>
