<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="navbar" style="min-height: 80px; transition: .4s;box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);">
        
    <div class="container">
        <a class="navbar-brand" href="/officeUser"><i class="fa fa-door-open" style="margin-right: 10px;"></i><b>Real Estate</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown <% if(active == 'properties') {%> active <%}%>">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-landmark"> Property </i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/officeUser/properties"><i class="fa fa-list-ul"> On sale </i></a>
                      <a class="dropdown-item" href="/officeUser/sold"><i class="fa fa-list-ul"> Sold </i></a>
                      <a class="dropdown-item" href="/officeUser/addProperty"><i class="fa fa-plus"> Add Property </i></a>
                    </div>
                </li>
                <li class="nav-item dropdown <% if(active == 'agent') {%> active <%}%>">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-magnet"> Agents </i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/officeUser/agents"><i class="fa fa-list-ul"> All agents </i></a>
                      <a class="dropdown-item" href="/officeUser/addagent"><i class="fa fa-plus"> Add agent </i></a>
                    </div>
                </li>
                <li class="nav-item dropdown <% if(active == 'clients') {%> active <%}%>">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user"> Clients </i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/officeUser/clients"><i class="fa fa-list-ul"> All clients </i></a>
                      <a class="dropdown-item" href="/officeUser/addclient"><i class="fa fa-plus"> Add client </i></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/officeUser/logout"><i class="fa fa-sign-out"> Logout</i></a>
                </li>
            </ul>
        </div>
    </div>

</nav>